# ── Deployment (Base Sepolia) ────────────────────────────────────────────
DEPLOYER_PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASESCAN_API_KEY=

#PROCUREMENT_REGISTRY_ADDRESS=""
PROCUREMENT_REGISTRY_FACTORY_ADDRESS="0x37B32265AdD721156dA8F6192a619FBCaD4522e3"

# Deployed on Base Sepolia on Sep 18, 2026
#
# ProcurementRegistryFactory.sol
# 0x37B32265AdD721156dA8F6192a619FBCaD4522e3
# https://sepolia.basescan.org/address/0x37B32265AdD721156dA8F6192a619FBCaD4522e3#code
 