# ── Deployment (Base Sepolia) ────────────────────────────────────────────
DEPLOYER_PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASESCAN_API_KEY=


# Deployed on Base Sepolia on Sep 16, 2026
#
# ProcurementRegistry.sol
# 0xDf33FdF3360fCF1923aBb8C7e3cE3c51160c7623
# https://sepolia.basescan.org/address/0xdf33fdf3360fcf1923abb8c7e3ce3c51160c7623#code
